@charset "UTF-8";

/*-------------------------
  初期値
-------------------------*/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  font-size: 1.6rem;
  color: #333;
  line-height: 2;
  font-feature-settings: "palt";
}
@media screen and (max-width: 768px) {
  body {
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
      "Hiragino Sans", Meiryo, sans-serif;
    font-size: 1.6rem;
    color: #333;
    line-height: 2;
    font-feature-settings: "palt";
  }
}
a {
  text-decoration: none;
  letter-spacing: 0.15em;
}

a:link {
  color: #422;
  font-weight: bold;
}

a:visited {
  color: #333;
}
:hover {
  transition: 0.4s ease-in;
}
/* emmet tr */
a:hover,
a:active {
  color: #933;
}

em {
  font-style: normal;
}

ol,
ul {
  list-style-type: none;
  padding-left: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr:nth-of-type(odd) {
  background-color: #fbfbfb;
}

th,
td {
  border: 1px solid #ccc;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  th,
  td {
    padding: 10px;
  }
}

th {
  text-align: left;
  vertical-align: top;
}

input[type="text"],
input[type="email"],
input[type="submit"],
select,
textarea {
  width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
@media screen and (max-width: 768px) {
  input[type="text"],
  input[type="email"],
  input[type="submit"],
  select,
  textarea {
    width: 100%;
  }
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 10px 0 30px;
  background-color: red;
}

/*-------------------------
  グローバル
-------------------------*/

.container {
  max-width: 980px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .container {
    width: 94%;
  }
}



.gl-header {
  height: 140px;
  padding-top: 15px;
  background: linear-gradient(
      110deg,
      #000 0%,
      rgba(27, 18, 18, 0.7) 70%,
      rgba(27, 18, 18, 0.8) 100%
    ),
    url("../images/wood.jpg") 0 0 / contain repeat-x;
  background-blend-mode: hard-light;
}
@media screen and (max-width: 768px) {
  .gl-header {
    height: auto;
    padding-top: 15px;
    background: linear-gradient(
        110deg,
        #000 0%,
        rgba(27, 18, 18, 0.7) 70%,
        rgba(27, 18, 18, 0.8) 100%
      ),
      url("../images/wood.jpg") 0 0 / contain repeat-x;
    background-blend-mode: hard-light;
    margin-bottom: -10px;
    background-size: cover;
  }
}


.logo {
  width: 200px;
  height: 65px;
  margin-bottom: 15px;
  background: url("../images/logo.png") 0 0 / cover no-repeat;
}
@media screen and (max-width: 768px) {
  .logo {
    width: 200px;
    height: 65px;
    margin: auto;
    background: url("../images/logo.png") 0 0 / cover no-repeat;
  }
}
.logo a {
  display: block;
  width: 200px;
  height: 65px;
  text-indent: -9999px;
}

.gl-nav ul {
  display: table;
  list-style-type: none;
  table-layout: fixed;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .gl-nav ul {
    display: table;
    list-style-type: none;
    table-layout: fixed;
    width: 100%;
    padding: 10px;
  }
}

.gl-nav li {
  display: table-cell;
  text-align: center;
  border-right: 2px solid #000;
}

.gl-nav li a {
  display: block;
  color: #ccc;
  text-shadow: 0 0 5px #000;
}

.gl-nav li a:hover {
  color: #a86;
}

.gl-footer {
  height: 120px;
  margin-top: 50px;
  padding-top: 50px;
  background: #211 url("../images/grunge.jpg") 0 top repeat-x;
  color: #ccc;
  letter-spacing: 0.3em;
  text-align: center;
}

/*-------------------------
  トップ
-------------------------*/

.top-welcome {
  height: 640px;
  margin-bottom: 30px;
  background: url("../images/main.jpg") center top / cover no-repeat;
  box-shadow: inset 0 2px 5px #000;
}

.top-hero {
  position: relative;
}

.top-catch {
  position: absolute;
  top: 0;
  left: -220px;
  padding: 100px 0 0 220px;
  height: 640px;
  color: #eee;
  line-height: 2.4;
  letter-spacing: 0.3em;
  text-shadow: 0 0 50px #422, 0 0 10px #000;
  background: url("../images/logo2.png") 0 -100px / 90% no-repeat;
  filter: drop-shadow(0 0 5px #422);
}

.top-catch h2 {
  font-size: 4.8rem;
}

.top-parent {
  display: flex;
  justify-content: space-between;
}

.top-main {
  width: 660px;
}
@media screen and (max-width: 768px) {
  .top-main {
    width: 660px;
    width: 100%;
  }
}

.top-order {
  display: flex;
  flex-direction: column;
}

.top-time li,
.top-rank li {
  border-bottom: 1px dotted #ccc;
}

.top-time,
.top-rank {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc;
  padding: 20px 30px 20px 400px;
  margin-bottom: 30px;
  height: 300px;
}

.top-time {
  background: url("../images/time.jpg") -290px 0 no-repeat;
  order: 2;
}

.top-rank {
  background: url("../images/rank.jpg") -290px 0 no-repeat;
  order: 1;
}

.top-rank a[href$="#other"] {
  letter-spacing: 0;
}

.top-rank a[href$="#other"]::after {
  font-family: FontAwesome;
  content: "\f18e";
  margin-left: 5px;
}

.top-news dl {
  display: flex;
  flex-wrap: wrap;
}

.top-news dt {
  width: 18%;
}

.top-news dd {
  width: 82%;
  border-bottom: 2px dotted #ccc;
}

.top-news dd:first-of-type::after {
  content: "NEW!";
  background-color: #900;
  font-weight: bold;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 3px;
}

.top-side {
  width: 300px;
}

.top-side a:hover {
  opacity: 0.7;
}

.twitter {
  margin-bottom: 20px;
}

/*-------------------------
  セカンド
-------------------------*/

.menus > h2,
.info > h2,
.movie > h2,
.map > h2,
.contact > h2 {
  margin: 50px 0 20px;
  border-bottom: 2px dotted #422;
}

/*-------------------------
  メニュー
-------------------------*/

.menus > ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.menus > ul li a {
  padding: 10px;
  border: 1px solid #ccc;
  border-bottom-color: transparent;
  border-radius: 3px 3px 0 0;
}
.jBounceIn {
  transition: 0.6s cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.jBounceIn:hover,
.jbounceIn:focus,
.jbounceIn:active {
  transform: scale(1.1);
}

.jBounceUp:hover {
  animation: jBounceUp-frames 1s;
}

@keyframes jBounceUp-frames {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
  }
}
.menu {
  padding: 20px 30px;
  margin-bottom: 100px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 3px #ccc;
}

.menu::after {
  content: "";
  display: block;
  width: 450px;
  height: 240px;
  position: absolute;
  top: 20%;
  right: 5%;
  border-radius: 5px;
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px #333;
}

.menu:nth-of-type(1)::after {
  background-image: url("../images/m_morning.jpg");
}
.menu:nth-of-type(2)::after {
  background-image: url("../images/m_lunch.jpg");
}
.menu:nth-of-type(3)::after {
  background-image: url("../images/m_dessert.jpg");
}
.menu:nth-of-type(4)::after {
  background-image: url("../images/m_other.jpg");
}
.menu:nth-of-type(5)::after {
  background-image: url("../images/m_drink.jpg");
}

.menu h3::first-line {
  font-size: 2.4rem;
}

.menu li {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 15px;
}

/*-------------------------
  お問い合わせ
-------------------------*/

.contact td[colspan="2"] {
  text-align: center;
}

.contact td[colspan="2"] input[type="submit"] {
  letter-spacing: 2em;
  text-indent: 2em;
}

body {
  text-size-adjust: 100%;
}
/* .clearfix::afterの下	バナーのセレクタ
	上記CODEPENを参考
上記セレクタ群の下	タブのセレクタ
	上記CODEPENを参考 */

/* プロパティ	概要
shapes	シェイプ(図形曲線)に沿った文字の配置が可能
mask-image	画像に非表示領域のマスクをかける
clip-path	画像に円のマスクをかける
scroll snap points	コンテンツスクロール時にスナップ(一時停止)
@scroll-timeline	スクロールに応じてアニメーションの変化を与える */

/* 追加項目	プロパティ	値
.menu{
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 3px #ccc;
}
.menu li {
  border-bottom: 1px dotted #ccc;
}
/* FF0000 例: 鮮やかで明るい赤
#007BFF　鮮やかな青
#6C757D あとなしい青
#28A745　緑
#DC3545　明るい
#FFC107　オレンジ
#17A2B8 cyan
#F8F9FA　白
#343A40 暗い青みグレー
英語が入ってれば明るめ
低い数字は暗め

行間はline-height:2など
字詰めfont-feature-settings:"palt"    ffs
字間letter-spacing: .3em;

div
  margin-bottom: 200px;
  margin-left: 200px;
  margin-top: 200px;
  transform: translate(-100px,50px) rotate(45deg) skew(30deg);
  /* transform: 関数入れられる; */

/* 文字サイズ10px以上小さくならない  */
/* 横揃えtext-align:left;
p{text-align: justify;width: 150px;}
縦揃え
字送り .en   {text-indent: 1en}
       .per  {text-indent: 1en}

*/
/* h1 {text-shadow: 2px 2px 5px rgba(0,0,0, .5);}
箱影box-shadow: 0 0 3px #ccc);
画像影filter: drop-shadow(0 0 5px #999);
箱透明opacity: .3;
強制継承inheritは受け継ぐという意味p{box-shadow: 0 0 3px #ccc;}
個別性
h1 {color: red;}
h1 {color: green;}

.logo {color: red;}
h1 {color: green;}
上記の場合は緑に表示される
強制指定　！inportantを付ける　コードが増えてきた時の最終手
背景の前提　サイズ指定
背景の画像
繰り返しno-repeat 1枚画像配置
背景画像の表示サイズ: 画像優先画像全体を表示　:contain;  枠の中に画像埋めつくす　:cover;
bgで一括指定 background: #ccc url("../images/dot.png") 0 0 / cover no-repeat;
一括指定の重複　.top-main{ br
  ブレンドモード　.blend {} 一括指定はできない
  グラデーション　deg角度
境界線とプロパティ　border-style線の種類　border-solid実線
一括指定 bd  border: 1px solid #ccc;

   */
