@charset "UTF-8";

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
/* 先生参考 */
body {
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	color: #333;
	font-size: 1.6rem;
	line-height: 2;
	font-feature-settings: "palt"1;
  text-size-adjust: 100%;
}
/* @media screen and (max-width: 768px) {
  body {
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    color: #333;
    font-size: 1.6rem;
    line-height: 2;
    font-feature-settings: "palt"1;
  }
} */

a {
	text-decoration: none;
	/* letter-spacing: .15em;
	font-weight: bold; */
}

/* a:link {
	color: #422;
}

a:visited {
	color: #333;
} */

a:hover {
  opacity: .5;
	transition: .5s ease;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

/* a:hover,
a:active {
	color: #933;
}


em {
	font-style: normal;
}

ol,
ul {
	list-style-type: none;
	padding-left: 0px;
}
 */
.container {
	max-width: 1100px;
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.container {
		width: 94%;
	}
}


.gl-header {
  height: 82px;
  background-color: #31383E;
	padding-top: 30px;
}
/* @media screen and (max-width: 768px) {
.gl-header {
  height: 100px;
}
} */
/* 先生参考 */

.top-parent {
  display: flex;
  flex-direction: row;
}

.logo {
	width: 154px;
	height: 25px;
  margin-right: 42px;
}



/* @media screen and (max-width: 768px) {
	.logo {
		float: none;
		width: 154px;
		margin: auto;
	}
} */
/* 先生参考 */
.logo a {
	display: block;
	width: 154px;
	height: 25px;
	background: url("../webProducts/images/logo.jpg") 0 0 no-repeat;
	text-indent: -9999px;
}

.gl-nav ul {
  margin-top: -5px;
}

@media screen and (max-width: 768px) {
  .gl-header {
		height: 100px;
	}

  .top-parent {
    display: block;
  }

	.logo {
		width: 154px;
		margin: auto;
	}

  .gl-nav ul {
		display: flex;
		justify-content: center;
    margin-top: 10px;
    padding-left: 0;
	}
}

.gl-nav li {
	display: inline-block;
	line-height: 1;
}

.gl-nav li ~ li {
  margin-left: 12px;
}

.gl-nav li a {
	color: #d4d3d3;
}

.gl-nav li a:hover {
	color: #e85000;
}


/* .top-topics h2 {
  color:#F3C4AE;
} */

.gl-footer {
	height: 176px;
	padding-top: 50px;
	background-color: #343a40;
}

@media screen and (max-width: 768px) {
	.gl-footer {
		height: auto;
		padding-bottom: 50px;
	}

  .gl-footer br {
    display: none;
  }
}
.gl-footer small {
	line-height: 2;
	color: #6c757d;
}

.gl-footer small a {
	color: #e85000;
}

.gl-footer small a:hover {
	opacity: .5;
}

/* .top-topics li p {
	line-height: 1.5;
	margin-bottom: 24px;
	text-align: justify;
}
.top-topics ul:nth-of-type(1) {
  justify-content: center;
  display: flex;
  margin: 30px;
} */

/* .container h1{
  background-image: url("../webProducts/images/logo.jpg");
  background-position: left;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: -9999px;
  width: 154px;
  height: 25px;
  margin-top: 30px;
  margin-left:120px;
  padding-top: 80px;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .container h1{
    background-image: url("../webProducts/images/logo.jpg");
    background-position: left;
    background-repeat: no-repeat;
    text-align: left;
    text-indent: -9999px;
    width: 154px;
    height: 25px;
    margin-top: 30px;
    justify-content: space-around;
  }
} */

/* .gl-nav li:nth-child(2) {
  list-style: none;
  padding-left: 0px;
  float:left;
  margin-top: -65px;
  margin-right: -100px;
  padding-left:370px;
} */

/* .gl-nav a {
  color:#818486;
} */

/* @media screen and (max-width: 768px) {
.top-hero {
  height: 1000px;
    background-size: contain;
    background: #d4d3d3 url("../webProducts/images/main_sp.jpg") center top / cover no-repeat;
    background-repeat: no-repeat;
}
} */
.top-hero {
	height: 400px;
	background: #343a40 url("../webProducts/images/mainimg.jpg") center 0 no-repeat;
	text-indent: -9999px;
}

@media screen and (max-width: 768px) {
	.top-hero {
		background: url("../webProducts/images/main_sp.jpg") center top / cover no-repeat;
		height: 150vw;
	}
}

/* .top-topics li:nth-last-of-type(1),
.top-topics li:nth-last-of-type(2){
margin-left: 25px;
}
 */
/* .top-topics img {
  height: 210px;
  padding-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .top-topics img {
    height: 300px;
  }
} */

/* .top-topics h2 {
  font-size: 32px;
  text-align: left;
  margin-bottom: 20px;
  color: #e85000;
} */


/* .top-topics p {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  word-break: break-all;
} */
.top-main {
	padding-top: 40px;
}
.top-topics{
  margin-bottom: 60px;
}
.top-topics ul {
	display: flex;
}

.top-topics li {
	/* float: left;
	margin-right: 25px; */
	width: 350px;
}
.top-topics li ~ li {
  margin-left: 25px;
}

@media screen and (max-width: 768px) {
	.top-topics ul {
    display: block;
	}

.top-topics li {
  width: 100%;
  margin-bottom: 50px;
}

.top-topics li ~ li {
  margin-left: 0;
}
}

.top-topics li:last-child {
	margin-right: 0;
}


.top-topics li img {
	display: block;
	width: 210px;
	margin: 0 auto 10px;
}

@media screen and (max-width: 768px) {
	.top-topics li img {
		width: 80%;
	}
}

.top-topics li h2 {
	color: #e85000;
	font-size: 3.2rem;
	letter-spacing: -0.02em;
	margin-bottom: 20px;
}

.top-topics li p {
	line-height: 1.5;
	margin-bottom: 24px;
	text-align: justify;
}

.top-topics li .btn {
	display: flex;
}

.top-topics li .btn a {
	display: block;
	width: 60px;
	height: 40px;
	margin-right: 8px;
	padding-top: 10px;
	border-radius: 3px;
	line-height: 1.2;
	text-align: center;
	color: #fff;
	background-color: #e85000;
}

.top-topics li .btn a:hover {
	opacity: .5;
}

.top-topics li .btn a:nth-of-type(2) {
	background-color: #ffc108;
	color: #000;
}

/* .top-banner ul.li.btn1{
text-align: center;
}
.top-banner ul.li.btn2{
  text-align: center;
}
.top-banner ul.li.btn3{
  text-align: center;
} */

/* .btn {
  display: flex;
}
.btn a {
  
  width: 60px;
  height: 40px;
  font-size: 18px;
  line-height: 1.2;
  padding: 10px;
  border-radius: 3px;
  letter-spacing: 0;
}


.btn a:nth-of-type(1) {
  color: #fff;
  background-color: #e85000;
}

.btn a:nth-of-type(2) {
  margin-left: 8px;
  color: black;
  background-color: #ffc108;
}
@media screen and (max-width: 768px) {
  aside {
    text-align: center;
  }
}
 */
.top-banner ul {
  display: flex;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .top-banner ul {
    display: block;
  }
}
.top-banner li {
  width: 255px;
  height: 133px;
  margin-right: 27px;
  /* text-align: center; */
}

/* .top-banner li:nth-of-type(2),
.top-banner li:nth-of-type(3),
.top-banner li:nth-of-type(4){
  margin-left: 27px;
}
@media screen and (max-width: 768px) {
  .top-banner li:nth-of-type(2),
  .top-banner li:nth-of-type(3),
  .top-banner li:nth-of-type(4){
    margin-left: 0px;
  }
} */

@media screen and (max-width: 768px) {
	.top-banner li,
	.top-banner li img {
		width: 100%;
		height: auto;
		margin-bottom: 10px;
	}
}
.top-banner li:last-child {
	margin-right: 0;
}

.top-banner li a img:hover {
	opacity: .5;
}



/* p{
  font-size: 16px;
  line-height: 1.5;
  word-break: break-all;
}

@media screen and (max-width: 768px) {
  p{
    padding-top: 50px;
    display: block;
    color: #d4d3d3;
    font-size: 16px;
    line-height: 2;
  }
} */

/* .gl-footer {
  height: 176px;
  margin-top: 16px;
  padding-top: 50px;
  background: #343a40;
  color: #6c757d;
  letter-spacing: 0.3em;
  text-align: center;
}
.gl-footer small {
  text-align:center;
  font-size: 5px;
  color: #6c757d;
  line-height: 2;
}
.gl-footer small p{
  text-align:left;
  padding-left: 520px;
}
@media screen and (max-width: 768px) {
  .gl-footer small p{
    text-align:left;
    padding-left: 520px;
  }
}

.gl-footer a {
  color: #e50;
}

.gl-footer small a {
  color: #e85000;
}
.text{
  color: #e85000;
} */
